# Ciclos

## `While`

El comando `while` es como "repetir" una condición `if` hasta que se cumpla una condición.

```python
while condition:
  expression
```

Ejemplo:
```python
>>> x = 1
>>> while x < 4:
...   print(x)
...   x += 1
...
1
2
3
```

In [3]:
x = 1
while x <= 4:
    print(x)
    x = x + 1

1
2
3
4

In [5]:
variable = True
x = 10

while variable:
    print(x)
    if x < 5:
        variable = False
    else:
        x -= 1

10
9
8
7
6
5
4

In [ ]:
# Ejemplo de while
offset = 8

# Code the while loop
while offset != 0:
    print("correcting...")  # sentencia 1
    offset -= 1  # sentencia 2
    print(offset)  # sentencia 3

    if offset == 5:
        print("Ya casi")
    elif offset == 0:
        print("Casi que no")
    else:
        print("Aún falta")
    print("")

In [ ]:
# Podemos incluso adicionar condicionales dentro de un while
offset = -6

while offset != 0:
    print("correcting...")
    if offset > 0:
        offset -= 1
    else:
        offset += 1
    print(offset)

## `For`

Está diseñado para recorrer un iterable.

```python
for var in seq:
  expression
```

Ejemplo:
```python
>>> areas = [11.25, 18.0, 20.0, 10.75, 9.50]
>>> sum_areas = 0
... for area in areas:
...   sum_areas += area
...
>>> print(sum_areas)
69.5
```

In [6]:
frutas = ["manzana", "banano", "piña"]

for fruta in frutas:
    print(f"Esta {fruta} es muy deliciosa")
    print("\tNombre de la fruta", fruta)

Esta manzana es muy deliciosa
	Nombre de la fruta manzana
Esta banano es muy deliciosa
	Nombre de la fruta banano
Esta piña es muy deliciosa
	Nombre de la fruta piña

In [7]:
frutas = ("manzana", "banano", "piña")

for fruta in frutas:
    print("Esta {} es muy deliciosa".format(fruta))

Esta manzana es muy deliciosa
Esta banano es muy deliciosa
Esta piña es muy deliciosa

In [8]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50, 20]
area_total = 0

for area in areas:
    print(area_total)
    print("\tel valor de area es:", area)
    if area > 15:
        area_total = area_total + area

print("")
print("el area total es:", area_total)

0
	el valor de area es: 11.25
0
	el valor de area es: 18.0
18.0
	el valor de area es: 20.0
38.0
	el valor de area es: 10.75
38.0
	el valor de area es: 9.5
38.0
	el valor de area es: 20

el area total es: 58.0

In [9]:
palabra = "area"

for letra in palabra:
    print(f"la letra es: {letra}")

la letra es: a
la letra es: r
la letra es: e
la letra es: a

### **Bonus:** enumerate()

`enumerate` es una función que nos permite obtener tanto los elementos de un iterable como su indice (posición).

Ejemplo:
```python
>>> fam = [1.73, 1.68, 1.71, 1.89]
>>> for index, height in enumerate(fam) :
...   print('person {}: {} cms'.format(str(index), str(height)))
...
person 0: 1.73 cms
person 1: 1.68 cms
person 2: 1.71 cms
person 3: 1.89 cms
```

In [11]:
alturas_personas = [1.73, 1.68, 1.71, 1.89]

for persona, altura in enumerate(alturas_personas):
    print("persona {}: {} cms".format(str(persona + 1), str(altura)))

persona 1: 1.73 cms
persona 2: 1.68 cms
persona 3: 1.71 cms
persona 4: 1.89 cms

In [13]:
# Iterando en una lista de listas
house = [
    ["hallway", 11.25],
    ["kitchen", 18.0],
    ["living room", 20.0],
    ["bedroom", 10.75],
    ["bathroom", 9.50],
]

for i in house:
    print("the " + i[0] + " is " + str(i[1]) + " sqm")  # Slice

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [ ]:
for i in house:
    print(i)

In [ ]:
i = ["hallway", 11.25]
i[1]

In [ ]:
# Ejercicio
# De la siguiente lista, almacenar el elemento par en una nueva
# lista llamada new_list
init_list = ["red", "orange", "yellow", "green", "blue", "violet"]

# new_list = ['yellow', 'blue']

In [18]:
# Iterando sobre un diccionario
europe = {
    "spain": ["madrid", "barcelona", "zaragoza"],
    "france": ["paris"],
    "germany": ["berlin"],
    "norway": ["oslo"],
    "italy": ["rome"],
    "poland": ["warsaw"],
    "austria": ["vienna"],
}

for pais, ciudad in europe.items():
    print(f"the capital of {pais} is {ciudad[0]}")

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [19]:
for pais in europe.keys():
    print("recorriendo el pais:", pais)

recorriendo el pais: spain
recorriendo el pais: france
recorriendo el pais: germany
recorriendo el pais: norway
recorriendo el pais: italy
recorriendo el pais: poland
recorriendo el pais: austria

In [20]:
for ciudades in europe.values():
    print("recorriendo las ciudades:", ciudades)

recorriendo las ciudades: ['madrid', 'barcelona', 'zaragoza']
recorriendo las ciudades: ['paris']
recorriendo las ciudades: ['berlin']
recorriendo las ciudades: ['oslo']
recorriendo las ciudades: ['rome']
recorriendo las ciudades: ['warsaw']
recorriendo las ciudades: ['vienna']

In [ ]:
# Ejercicio
# Imprimir los elementos de la lista en formato de título
input_list = ["Hola mUNDO", "hola mundo", "hOlA MunDo", "HELLO world"]

### List Comprehension

Pasar de
```python
output_list = []
for var in input_list:
  if (var satisties this condition):
    output_list.append(output_exp)
```

A esto
```python
output_list = [ output_exp for var in input_list if (var satisfies this condition) ]
```

Ejemplo:
```python
>>> input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
>>> output_list = [ var for var in input_list if var % 2 == 0 ]
>>> print(output_list)
[2, 4, 4, 6]
```

In [ ]:
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]

# crear una lista con la segunda potencia
output_list = []

for num in input_list:
    output_list.append(num**2)

print(output_list)

In [ ]:
output_list2 = [var**2 for var in input_list]
print(output_list2)

In [ ]:
# Ejercicio:
# Construir una lista con el cuadrado de los números del 1 al 10
# Forma 1: for

In [ ]:
# Ejercicio:
# Construir una lista con el cuadrado de los números del 1 al 10
# Forma 1: list comprehension

### Dictionary Comprehension

```python
output_dict = {key:value for (key, value) in iterable if (key, value satisfy this condition)}
```

Ejemplo:
```python
>>> input_list = [1,2,3,4,5,6,7]
>>> dict_using_comp = {var:var ** 3 for var in input_list if var % 2 != 0}
>>> print(dict_using_comp)
{1: 1, 3: 27, 5: 125, 7: 343}
```

In [ ]:
input_list = [1, 2, 3, 4, 5, 6, 7]

dict_using_comp = {1: 10}
print(dict_using_comp)

for num in input_list:
    # num como llave toma cada valor de la lista
    dict_using_comp[num] = num**3

print(dict_using_comp)

In [ ]:
input_list = [1, 2, 3, 4, 5, 6, 7]

dict_using_comp = {1: 10}
print(dict_using_comp)

for num in input_list:
    # 'num' es una llave fija (no cambia)
    dict_using_comp["num"] = num**3
    print(dict_using_comp)

print(dict_using_comp)

In [ ]:
input_list = [1, 2, 3, 4, 5, 6, 7]

dict_using_comp2 = {var: var**3 for var in input_list}
print(dict_using_comp2)

In [ ]:
# Ejercicio:
# Construir un diccionario a partir de la siguiente lista. La llave
# serán los 2 primeros caracteres de cada elemento
# forma 1: dictionary comprehension
state = ["Gujarat", "Maharashtra", "Rajasthan"]