# Built-in functions (funciones integradas) 

El interprete Python tiene un número de funciones integradas (built-in), las cuales están siempre disponibles en cualquier parte del lenguaje

## `lambda`


En Python, una función anónima es una función que se define sin nombre.

Mientras que las funciones normales se definen de la siguiente forma:
```python
def my_function():
  statements
```

Las funciones anónimas se definen con la parabra reservada `lambda` de la siguiente forma:

```python
lambda arg, arg,...: expression
```

Ejemplo:
```python
>>> L = lambda a, b, c: [a, b * c]
>>> L(1, 2, 3)
[1, 6]
```

In [2]:
# Función Lambda con un argumento
# lambda   --> nombre reservado
# usuario  --> argumento
# :        --> lógica a aplicar al argumento
print("usuario de red:", (lambda usuario: usuario.split("@")[1])("curso.python@world.org"))

usuario de red: world.org

In [5]:
# Función Lambda con dos argumento

print("suma #1:", (lambda numero_1, numero2: numero_1 / numero2)(1,1))
print("suma #2:", (lambda numero_1, numero2: numero_1 - numero2)(5,5))
print("suma #3:", (lambda numero_1, numero2: numero_1 + numero2)(10,5))
print("suma #4:", (lambda numero_1, numero2: numero_1 * numero2)(20,20))

suma #1: 1.0
suma #2: 0
suma #3: 15
suma #4: 400

In [ ]:
# Ejercicio
# Con la siguiente lista, imprimir el siguiente mensaje para cada nombre:
# "¡Bienvenido Alejandro al curso de Python!"
# Pista: utilizando "for"

nombres = ["Alej@ndro","AndrEs", "EliAnA"]

In [ ]:
# Ejercicio
# Con la siguiente lista, imprimir el siguiente mensaje para cada nombre:
# "¡Bienvenido Alejandro al curso de Python!"
# Pista: utilizando funciones lambda

nombres = ["Alej@ndro","AndrEs", "EliAnA"]

In [6]:
# Las funciones lambda se pueden almacenar en variables

suma = lambda numero_1, numero2: numero_1 + numero2
print("suma #1:", suma(1,1))
print("suma #2:", suma(5,5))
print("suma #3:", suma(10,5))
print("suma #4:", suma(20,20))

suma #1: 2
suma #2: 10
suma #3: 15
suma #4: 40

In [7]:
nombres = ["AlejOndo","AndrEs", "EliAnA"]
funcion = lambda nombre: "@@{}@@".format(nombre.lower())
list(map(funcion, nombres))

['@@alejondo@@', '@@andres@@', '@@eliana@@']

## `type()`

La función type() devuelve el tipo del objeto que recibe como argumento.

In [8]:
print("tipo # 1 : ",type(nombres))
print("tipo # 2 : ",type(funcion))

tipo # 1 :  <class 'list'>
tipo # 2 :  <class 'function'>

## `eval`

Evalúa una cadena como una expresión

In [ ]:
print("(5 * 5) + True")

In [ ]:
eval("(5 * 5) + True")

## `exec()`

Este método ejecuta el programa creado dinámicamente, que es una cadena o un objeto de código.

In [17]:
codigo_dinamico ="""
al_cuadrado = lambda dato: dato * dato * dato
numero = 7
print('el valor cuadratico para : {} --> es : {}'.format(numero, al_cuadrado(numero)))
"""
exec(codigo_dinamico)

el valor cuadratico para : 7 --> es : 343

In [ ]:
al_cuadrado = lambda dato: dato * dato * dato
numero = 3
print('el valor cuadratico para : {} --> es : {}'.format(numero, al_cuadrado(numero)))

## `id()`

Esta función devuelve la identidad de un objecto. Esto garantiza ser el único entre objetos simultáneamente existentes. (Sugerencia: es la dirección de memoria del objeto).

In [18]:
lista = [1,2,3,4,5,6,7,8,9,10]
lista2 = lista.copy()
lista3 = lista[:]
lista4 = lista

In [20]:
print(id(lista))
print(id(lista4))
print(id(lista2))
print(id(lista3))

4395698944
4395698944
4395781696
4395865344

In [21]:
id(codigo_dinamico)

4395290672

## `len()`

Devuelve el número de elementos de un tipo de secuencia o colección.

In [22]:
len(codigo_dinamico)

145

In [23]:
len(lista)

10

## `range()`

Esta devuelve una lista conteniendo una progresión aritmética de enteros.

```python
(start, end -1, jump)
```

In [24]:
# forma 1 | basico total elementos
list(range(5))

[0, 1, 2, 3, 4]

In [25]:
# forma 2 | rango inicial y rango final
list(range(2,15))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [26]:
# forma 3 | rango inicial, rango final e intervalos
list(range(2,15,2))

[2, 4, 6, 8, 10, 12, 14]

## `input()`

Permite recibir valores por consola

In [27]:
nombre = "Alejandro"

In [29]:
nombre = input("por favor ingrese su nombre : ")
print(f"el nombre ingresado fue : {nombre}")

el nombre ingresado fue : Pedrito

In [32]:
# print(3 * 3 * 3)
exec(input("ingrese operacion : "))

None

# `print()`

In [37]:
print('hola mundo', 'cruel', 'estamos de madrugada', sep='\n')

hola mundo
cruel
estamos de madrugada

In [34]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [42]:
estado = 'cualquier cosa'
otra = 10
otra_mas = 'algo mas'


print(f"hola mundo {estado} {otra} {otra_mas}")

hola mundo cualquier cosa 10 algo mas

In [45]:
print("hola mundo {} {} {}".format(otra, estado, otra_mas))

hola mundo 10 cualquier cosa algo mas

## `max()`

Si recibe más de un argumento, devuelve el mayor de ellos.

In [46]:
lista = [3,1,2,5,4]
max(lista)

5

In [47]:
max('a','b','hola', 'mundo')

'mundo'

## `min()`

Tiene un comportamiento similar a `max()`, pero devuelve el mínimo.

In [48]:
lista = [3,1,2,5,4]
min(lista)

1

In [49]:
min(1,2,3,4,-1)

-1

## `round()`

Esta función redondea un número flotante a una precisión dada en dígitos decimal (por defecto 0 dígitos). Esto siempre devuelve un número flotante. La precisión tal vez sea negativa.

In [51]:
print("round # 1 : ", round(14.3))
print("round # 2 : ", round(14.6))
print("round # 3 : ", round(14.344345345,2))

round # 1 :  14
round # 2 :  15
round # 3 :  14.34

## `sum()`

Esta función devuelve una lista ordenada de los elementos de la secuencia que recibe como argumento (lista o cadena). La secuencia original no es modificada.

In [52]:
lista = [3,1,2,5,4,25.0]
sum(lista)

40.0

## `chr()`

Esta función recibe como argumento un entero, y devuelve una cadena con el carácter cuyo código Unicode corresponde a ese valor. El rango válido para el argumento es de 0 a 256.

<img src="https://www.codigosinformaticos.com/wp-content/uploads/2019/05/codigo-ascii.png"
     width="800"
     height="600"  class="center"/>

In [53]:
print("ascii # 1 --> ", chr(35))
print("ascii # 2 --> ", chr(37))
print("ascii # 3 --> ", chr(64))

ascii # 1 -->  #
ascii # 2 -->  %
ascii # 3 -->  @

## `iter()`

Esta función obtiene un iterador de un objeto. En la primera forma, el argumento debe proporcionar su propio iterador, o ser una secuencia.

In [54]:
iterador = iter(["apple","samsung", "nokia"])
print(iterador,type(iterador))

<list_iterator object at 0x1061cc3a0> <class 'list_iterator'>

## `next()`

Esta función devuelve el próximo elemento desde un iterador.

In [55]:
next(iterador)

'apple'

In [56]:
print("codigo intermedio ..,.,.,.,., -->")

codigo intermedio ..,.,.,.,., -->

In [57]:
next(iterador)

'samsung'

In [58]:
print("codigo intermedio ..,.,.,.,., -->")

codigo intermedio ..,.,.,.,., -->

In [59]:
next(iterador)

'nokia'

In [60]:
next(iterador)

StopIteration:

## `sorted()`

Esta función devuelve una lista ordenada de los elementos del tipo secuencia que recibe como argumento (lista o cadena de caracteres). La secuencia original no es modificada.

In [61]:
lista = [3,1,2,5,4,25]

print("ascendentemente  : ", sorted(lista))
print("descendentemente : ", sorted(lista,reverse=True))

ascendentemente  :  [1, 2, 3, 4, 5, 25]
descendentemente :  [25, 5, 4, 3, 2, 1]

## `zip()`

Esta función devuelve una lista de tuplas, donde cada tupla contiene el elemento i-th desde cada una de los tipos de secuencias de argumento. La lista devuelta es truncada en longitud a la longitud de la secuencia de argumentos más corta.

<img src="https://python-course.eu/images/advanced-python/zip_two_lists_400w.webp"
     width="300"
     height="200"  class="center"/>

In [ ]:
l1 = [1,2,3,4,5]
l2 = ["a","b","c","d", "3"]
l3 = [999,998]

In [ ]:
# uniendo elementos
list(zip(l1,l2))

In [ ]:
# listas desbalanceadas
list(zip(l1, l3))

In [ ]:
# unir multiples listas
list(zip(l1, l2,l3))

In [ ]:
# ingenieria inversa
lista_de_tuplas = list(zip(l1,l2))
lista_de_tuplas

In [ ]:
lista_numeros, lista_letras = zip(*lista_de_tuplas)
print("lista de numeros --> : ",lista_numeros)
print("lista de letras  --> : ",lista_letras)

In [ ]:
# complex 
lista_de_tuplas[0][1]

In [ ]:
# lista de tuplas en formato imaginario de llave valor [(llave, valor), ("llav2", "valor2")]
# lo puedo pasar a diccionario
print("lista elementos   --> ",lista_de_tuplas)
print("zip a diccionario --> ",dict(lista_de_tuplas))

## `hash()`

Esta función devuelve un valor hash de tipo entero para el objeto.

In [ ]:
# como garantizar que un archivo no cambiete desde su origen hasta su destino
hash("hola-todos")

In [ ]:
hash("hola-todos")

## `isinstance()`

Esta función le permite corroborar si un objeto es una instancia de una clase.

```python
isinstance("variable",data_type)
```

In [ ]:
# sive para saber si una variables es de un tipo de dato especifico
print("es numero : --> ",isinstance(12,int))
print("es numero : --> ",isinstance(12.5,int))
print("es lista  : --> ",isinstance([1,2,3],list))
print("es lista  : --> ",isinstance(1,list))
print("es dict   : --> ",isinstance({},dict))

## `enumerate()`

Esta función permite obtener un contador y el valor del iterable al mismo tiempo

In [ ]:
# basico
nombres = ["apple","samsung", "nokia"]
list(enumerate(nombres))

In [ ]:
# usando zip
list(enumerate(zip(nombres,["ger.it","ger.bi","ger.analytics"])))

In [ ]:
datos = list(enumerate(zip(nombres,["ger.it","ger.bi","ger.analytics"])))
for index, element in datos:
  print("el indice es ---> {}, el valor es : ---> {}".format(index, element))

In [ ]:
indice_manual, valor_manual = datos[0]
print("index : ",indice_manual,"valor : ", valor_manual)