# User Functions

Las funciones definidas por usuario, son aquellas que creamos. Las funciones pueden recibir o no recibir argumentos, esto dependerá de la acción que queremos que realice. De igual forma se puede o no retornar un resultado en la función.

<img src="https://media.geeksforgeeks.org/wp-content/uploads/20220721172423/51.png"
     width="500"
     height="200"  class="center"/>

La sintaxis es la siguiente:

```python
def my_function(args):
  statement
```

Ejemplo:
```python
def add_numbers(x, y):
  result = x + y
  return result
```

Estas funciones pueden utilizar tanto los las librerías propias de Python, como aquellas que necesitemos importar e incluso crear (clases propias)

In [ ]:
x = 10 -> asignacion
x:int = 'hola mundo' -> referencia
x = int(10) -> constructor

In [6]:
def add_numbers(x: int, y: int, z, w, v):  # x, y, z, w, v son parametros
    result = x * y
    return result

In [2]:
type(add_numbers)

function

In [7]:
add_numbers("10", "hola")  # '10' 'hola' son argumentos

TypeError: can't multiply sequence by non-int of type 'str'

In [8]:
resultado = add_numbers(10, 20)
print(resultado)

200

In [5]:
add_numbers(10, "hola")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Funciones sin argumentos

Son aquellas que no reciben argumentos para llevar a cabo una acción.

Ejemplo:
```python
>>> from datetime import datetime
>>> def get_time():
...  return datetime.strftime(datetime.now(), '%Y-%m-%d %H:%M:%S')
```

Esta función tiene como objetivo obtener la hora actual del sistema y retornar este valor. Para invocarla basta con llamar la función:

```python
>>> get_time()
2022-10-31 00:02:07
```

O si preferimos, podemos almacenar el valor en una variable:
```python
>>> fecha_actual = get_time()
>>> print(fecha_actual)
2022-10-31 00:02:07
```

In [9]:
import datetime  # Librería que nos permite interactuar con fechas

# Librerías propias
import os
import json
import statistics

# Librerías de terceros
import pandas
import numpy
import scipy
import matplotlib
import seaborn

# Librerías construídas por nosotros
# ...

ModuleNotFoundError: No module named 'pandas'

In [11]:
def get_time():
    return datetime.strftime(datetime.now(), "%Y-%m-%d %H:%M:%S")

In [15]:
get_time()

'2024-09-19 07:16:13'

In [ ]:
from datetime import datetime


def get_time():
    return datetime.strftime(datetime.now(), "%Y-%m-%d %H:%M:%S")

In [ ]:
get_time()

In [ ]:
fecha_actual = get_time()
print(fecha_actual)

## Funciones con Argumentos

Son aquellas funciones que reciben uno o más valores para su ejecución. 

Ejemplo:
```python
def greeting(name):
  return f'Good morning {name}'
```

In [5]:
def greeting(name):
    """Print a greeting"""
    return f"Good morning {name}"

In [6]:
greeting("Harvey")

'Good morning Harvey'

In [7]:
func = greeting("Pepito")
print(func)

Good morning Pepito

In [11]:
def greeting2(name):
    """Print a greeting"""
    return f"Good morning {name}"

In [12]:
greeting2("Harvey")

'Good morning Harvey'

In [8]:
def mi_funcion(a, b, c, d):
    return (a + b) * (c + d)

In [12]:
mi_funcion(1, 2, 3, 4, 5)

TypeError: mi_funcion() takes 4 positional arguments but 5 were given

In [10]:
mi_funcion(d=1, a=2, c=4, b=4)

30

También podemos encontrarnos funciones con múltiples argumentos:
```python
from statistics import mean
def student_notes(student, test1, test2, test3, test4):
  grade = mean([test1, test2, test3, test4])
  return f'The final grade for {student} is {grade}'
```

In [20]:
from statistics import mean


def student_notes(student, test1, test2, test3, test4):
    notes_list = [test1, test2, test3, test4]
    grade = mean(notes_list)  # mean: Promedio
    student_upper = student.upper()
    max_note = max(notes_list)
    return f"The final grade for {student_upper} is {grade}. The greatest note is {max_note}"

In [21]:
student_notes()

TypeError: student_notes() missing 5 required positional arguments: 'student', 'test1', 'test2', 'test3', and 'test4'

In [22]:
notas = student_notes("Harvey", 3, 3.5, 4, 3)
print(notas)

The final grade for HARVEY is 3.375. The greatest note is 4

In [21]:
notas = student_notes("Ricardo", 3.8, 4.2, 5, 2)
print(notas)

The final grade for RICARDO is 3.75. The greatest note is 5

In [ ]:
# Funciones sin ningún tipo de acción
def nothing():
    pass  # Palabra reservada para

In [ ]:
nada = nothing()
print(nada)

### Funciones que tienen valores por defecto

In [23]:
def student_notes(test1, student="Camilo", test2=5, test3=5, test4=5):
    grade = mean([test1, test2, test3, test4])
    return f"The final grade for {student} is {grade}"

In [24]:
student_notes()

'The final grade for Camilo is 5'

In [23]:
defecto = student_notes()
print(defecto)

The final grade for Camilo is 5

In [24]:
pedro = student_notes("Pedro")
print(pedro)

The final grade for Pedro is 5

In [25]:
victor = student_notes("Victor", 3, 4)
print(victor)

The final grade for Victor is 4.25

### Funciones con argumentos clave-valor

In [26]:
def student_notes(student, test1, test2, test3, test4):
    grade = mean([test1, test2, test3, test4])
    return f"The final grade for {student} is {grade}"

In [30]:
Carlos = student_notes(
    test4=3,
    test2=4,
    test1=5,
    student="Carlos",
    test3=3,
)
print(Carlos)

The final grade for Carlos is 3.75

### Funciones que retornan multiples valores

In [ ]:
def student_notes(student="Camilo", test1=5, test2=5, test3=5, test4=5):
    grade = mean([test1, test2, test3, test4])
    return student.upper(), grade

In [ ]:
estudiante, nota = student_notes(student="Camilo", test1=5, test2=5, test3=5, test4=5)
print(f"The final grade for {estudiante} is {nota}")

In [31]:
from statistics import mean


def student_notes(student, test1, test2, test3, test4):
    notes_list = [test1, test2, test3, test4]
    grade = mean(notes_list)  # mean: Promedio
    student_upper = student.upper()
    max_note = max(notes_list)
    return student_upper, grade, max_note

In [33]:
nombre_estudiante, promedio, nota_maxima = student_notes(
    student="Camilo", test1=2, test2=3, test3=5, test4=5
)
print(nombre_estudiante, promedio, nota_maxima)

CAMILO 3.75 5

In [36]:
from statistics import mean


def student_notes(student, test1, test2, test3, test4):
    notes_list = [test1, test2, test3, test4]
    grade = mean(notes_list)  # mean: Promedio
    student_upper = student.upper()
    max_note = max(notes_list)
    print(f"The final grade for {student_upper} is {grade}")

In [37]:
student_notes(student="Camilo", test1=2, test2=3, test3=5, test4=5)

The final grade for CAMILO is 3.75

### Funciones con un número variable de argumentos **(*args)**

In [13]:
def add(*args):
    print(args, type(args))

In [14]:
add(2, 3, "hola", False)

(2, 3, 'hola', False) <class 'tuple'>

In [15]:
def add_numbers(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total

In [17]:
print(add_numbers(1, 2, 3, 4, 5, 6, 7, 8, 9))

45

In [ ]:
# Ejercicio
# Crear una función que reciba una lista de personas y salude a cada uno

In [43]:
# Una función puede tener argumentos "fijos" y argumentos "variables"
def argumentos(arg1, *args):
    print("First argument :", arg1)
    for arg in args:
        print("Next argument through *argv :", arg)

In [44]:
argumentos("Hello", "Welcome", "to", "GeeksforGeeks")

First argument : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : GeeksforGeeks

In [45]:
argumentos("Hello")

First argument : Hello

### Funciones con un número variables de argumentos clave-valor **(\*\*kwargs)**

In [19]:
def total_fruits(**kwargs):
    print(kwargs, type(kwargs))

In [20]:
total_fruits(banana=5, mango=7, apple=8, a=1, b=2, c=3, d=4)

{'banana': 5, 'mango': 7, 'apple': 8, 'a': 1, 'b': 2, 'c': 3, 'd': 4} <class 'dict'>

In [49]:
def total_fruits(**fruits):
    list_fruits = []
    total_fruits = 0
    for fruit, amount in fruits.items():
        list_fruits.append(fruit)
        total_fruits += amount
    return list_fruits, total_fruits

In [50]:
print(total_fruits(banana=5, mango=7, apple=8, oranges=10))

(['banana', 'mango', 'apple', 'oranges'], 30)

In [ ]:
# Ejercicio
# Crear una función que reciba la lista de estudiantes con las notas de las
# actividades y retorne el estudiante y el promedio de cada uno

In [ ]:
# Una función puede tener argumentos "fijos" y argumentos "variables"
def argumentos2(arg1, **kwargs):
    print("First argument :", arg1)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [ ]:
argumentos2("Hi", a="apple", b="banana", c="cherry")

In [ ]:
argumentos2("Hi")

### Funciones con **args**, **\*args** y **\*\*kwargs**

In [51]:
def myFun(*args, **kwargs):
    print("args: ", args)
    print("kwargs: ", kwargs)

In [52]:
myFun("Hello", "world", a="apple", b="banana", c="cherry")

args:  ('Hello', 'world')
kwargs:  {'a': 'apple', 'b': 'banana', 'c': 'cherry'}

### Docstring

In [ ]:
def evenOdd(x):
    """Function to check if the number is even or odd"""
    if x % 2 == 0:
        print("even")
    else:
        print("odd")

In [ ]:
print(evenOdd.__doc__)

### Funciones con funciones en su interior

In [ ]:
def f1():
    s = "Hello world!"

    def f2():
        print(s)

    f2()

In [ ]:
f1()

### Funciones recursivas

In [ ]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return x * factorial(x - 1)

In [ ]:
num = 10
print("The factorial of", num, "is", factorial(num))

```python
factorial(3)          # 1st call with 3
3 * factorial(2)      # 2nd call with 2
3 * 2 * factorial(1)  # 3rd call with 1
3 * 2 * 1             # return from 3rd call as number=1
3 * 2                 # return from 2nd call
6                     # return from 1st call
```

# Actividad

Calcular la fuerza gravitacional entre dos objetos, para esto se debe crear una función que calcule la fuerza gravitacional utilizando la ley universal de Newton:

$$F = G \cdot \frac{m_1 \cdot m_2}{r^2}$$

Donde:
- $F$: es la fuerza gravitacional
- $G$: es la constante gravitacional ($6.674 \times 10^{-11} \, \text{Nm}^2/\text{kg}^2$)
- $m_1$ y $m_2$ son las masas de los 2 objetos
- $r$ es la distancia entre los objetos

Los calculos deberan realizarse para:
- La Tierra ($5.972 \times 10^{24} \, kg$) y la Luna ($7.348 \times 10^{22} \, kg$), cuya distancia es: $384'400.000 \, mts$
- Por medio de la librería `random.randint` calcule 10 diferentes Fuerzas gravitacionales utilizando distancias entre $100'000.000 \, mts$ y $500'000.000 \, mts$

# Actividad

Hay N personas numeradas de 0 a N-1, jugando a un juego. A la persona `K` se le asigna la letra `S[K]`. Al empezar, la persona `0` le envía un mensaje a la persona `A[0]`, consistente en una sola letra `S[0]`. Cuando la persona `K` recibe un mensaje, añade su letra `S[K]` al mensaje y lo reenvía a la persona `A[K]`. El juego termina cundo la persona `0` recibe el mensaje. Encuentra el mensaje final.

Puedes asumir que `A` contiene cada entero de 0 a N-1 exactamente una vez.

Escribe una funcion:
```python
def mi_funcion(S, A):
  ...
```

que recibe un string `S` y un array de enteros `A`, ambos de longitud `N` y devuelve un string con el mensaje final recibido por la persona `0`.

Ejemplos:
1. Si `S = 'cdeo'` y `A = [3,2,0,1]`, la función debe devolver `code`.
2. Si `S = 'cdeenetpi'` y `A = [5,2,0,1,6,4,8,3,7]`, la función debe devolver `centipede`.
3. Si `S = 'bytdag'` y `A = [4,3,0,1,2,5]`, la función debe devolver `bat`. Nótese que no todas las letras fueron utilizadas.

Prueba de escritorio

In [ ]:
i = 0; word = ''
A[i] -> A[0] = 3 != 0 si: 
    word = word + S[i]-> S[0] = c
    i = A[i] -> A[0] -> i = 3
A[i] -> A[3] = 1 != 0 si:
    word = word + S[i]-> S[3] = co
    i = A[i] -> A[3] -> i = 1
A[i] -> A[1] = 2 != 0 si:
    word = word + S[i]-> S[1] = cod
    i = A[i] -> A[1] -> i = 2
A[i] -> A[2] = 0 != 0 no
word = word + S[i]-> S[2] = code

In [7]:
def mi_funcion(S, A):
    i = 0
    word = ""
    while A[i] != 0:
        word += S[i]
        i = A[i]
    word += S[i]
    return word

In [ ]:
i = 0
A[i] ->

In [8]:
mi_funcion("cdeo", [3, 2, 0, 1])

'code'

In [9]:
mi_funcion("cdeenetpi", [5, 2, 0, 1, 6, 4, 8, 3, 7])

'centipede'

In [10]:
mi_funcion("bytdag", [4, 3, 0, 1, 2, 5])

'bat'

In [2]:
word = "cdeo"
word[0]

'c'